.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--backgroundPrimary);
}

.Wrapper {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scannerDataWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.codeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.barAndQrCodeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 180px;
  border-radius: 0 0 5px 5px;
  background-color: #9d9d99;
}

.fullCodeWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding-left: 25px;
}
.qrWrapper {
  width: 90px;
  height: 90px;
}

.qrCodeNumber {
  transform: rotate(-90deg);
  width: 75px;
  line-break: anywhere;
  margin: 0;
  padding: 0;
  font-size: 16px;
  margin-left: -15px;
}

.barcodNumberWrapper {
  width: 165px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.numbersWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -5px;
}

.numbersWrapper p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.options_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px 0;
}
.option_wrapper {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
.LoaderMask {
  background: #cccccca3;
  position: relative;
  overflow: hidden;
}

.LoaderMask:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100px);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  animation: loading 0.8s infinite;
}
