.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--backgroundPrimary);
}

.Wrapper {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CodesWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.ScannerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.itemWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scannerDataWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  overflow-x: scroll;
}

.cameraWrapper {
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.cameraWrapper div {
  width: 300px !important;
  height: 300px !important;
  top: auto;
  left: auto;
}

.actionButtonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.scannerWrapper {
  width: 100%;
  height: 100%;
  max-width: 500px;
  position: relative;
}

.scannedCodesWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  overflow-x: scroll;
}

.qrCodeScannerWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.barCodeScannerWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.qr_code_highlight {
  position: absolute;
  border: 2px solid #00ff00;
  border-radius: 5px;
  pointer-events: none;
  z-index: 99;
}

.byScannerWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.formInputs {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border: solid 1px #000000;
}

.formInputs:focus {
  border: solid 1px #007bff;
}
.options_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}
.option_wrapper {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
.LoaderMask {
  background: #cccccca3;
  position: relative;
  overflow: hidden;
}

.LoaderMask:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  /* width: 100%;
  height: 100%; */
  transform: translateX(-100px);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  animation: loading 0.8s infinite;
}

/* laptopL */
@media (min-width: 1240px) and (max-width: 1550px) {
  .Wrapper {
    max-width: 1230px;
  }
}
/* laptopM */
@media (min-width: 1024px) and (max-width: 1240px) {
  .Wrapper {
    max-width: 1230px;
  }
}

/* Global */
@media (min-width: 100px) and (max-width: 1024px) {
  .Wrapper {
    max-width: unset;
    width: 95%;
  }
  .Content {
    gap: 40px;
  }
}
