.Container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background: var(--bgProduct);
}

.Wrapper {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

/* laptopL */
@media (min-width: 1240px) and (max-width: 1550px) {
  .Wrapper {
    max-width: 1230px;
  }
}
/* laptopM */
@media (min-width: 1024px) and (max-width: 1240px) {
  .Wrapper {
    max-width: unset;
  }
}

/* Global */
@media (min-width: 100px) and (max-width: 1024px) {
  .Wrapper {
    max-width: unset;
    width: 95%;
  }
}
