.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

.Wrapper {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ContentBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/newsler_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}
.ContentBackground::after {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-color: #000;
  opacity: 0.6;
}

.Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  user-select: none;
}

.Error {
  text-align: center;
  font-size: 3rem;
  font-family: var(--font-ricordi);
  font-weight: 600;
  background: linear-gradient(
    90deg,
    #cda172 -6.8%,
    #fef5ca 34.14%,
    #fff8d7 50.87%,
    #fdf3c8 66.52%,
    #cda172 107.04%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

.ContentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  z-index: 2;
}

.ContentWrapper > h2 {
  font-size: 1.5rem;
  font-family: var(--font-ricordi);
  font-weight: 300;
  color: #fff;
}
.ContentWrapper > h4 {
  font-size: 1.5rem;
  font-family: var(--font-ricordi);
  font-weight: 300;
  color: #fff;
}
/* laptopL */
@media (min-width: 1240px) and (max-width: 1550px) {
  .Wrapper {
    max-width: 1230px;
  }
}
/* laptopM */
@media (min-width: 1024px) and (max-width: 1240px) {
  .Wrapper {
    max-width: unset;
  }
}

/* Global */
@media (min-width: 100px) and (max-width: 1024px) {
  .Wrapper {
    max-width: unset;
    width: 95%;
  }
}
